html {
  font-size: 22px;
}
body {
  color: whitesmoke;
  background-color: black;
}

nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: rgb(46, 139, 139);
}

a:active {
  color: rgb(163, 107, 39);
}

.copy-right {
  text-align: center;
}
